body {
    background-color: rgba(6, 16, 39, 0.993);
    font-family: 'Manrope', sans-serif;
}

.color {
    --verde-fonte: rgb(48, 228, 102);
}


/* CABEÇALHO */

.header {
    height: 8em;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(80, 207, 129);
    justify-content: space-around;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.767); */
}

.center {
    display: flex;
    align-items: center;
}

.nav__list {
    margin-right: 1.5em;
    display: flex;
}

.nav__list-item {
    margin-left: 1.5em;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .5em;
}

.header a {
    text-decoration: none;
    color: rgb(253, 253, 255);
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.link:hover {
    color: #2f2f2f;
    font-weight: 700;
}


/* MAIN */

main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}

.sobre-mim {
    display: flex;
    margin: auto;
    text-align: justify;
    color: white;
    font-size: 25px;
    padding: 2em 2em;
    padding-left: 10%;
}

.sobre-mim h1 {
    padding: .5em .5em;
    letter-spacing: 5px;
}

.sobre-mim h3,
p {
    padding: .5em .5em;
    line-height: 1.5;
}

.destaque-nome {
    color: var(--verde-fonte);
    font-size: 30px;
}

.sobre-detalhes {
    line-height: 1.2;
}

.sobre-mim-img {
    border: 4px solid rgb(48, 228, 102);
    border-radius: 10px;
    width: 100%;
}

.sobre-mim-texto {
    padding-left: 5%;
}

.sobre-mim-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-link {
    border: 2px solid rgb(48, 228, 102);
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background-color: rgb(48, 228, 102);
    text-decoration: none;
    color: #000;
}


/* FORMACAO */

.minha-formacao {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.minha-formacao-h2 {
    font-size: 30px;
    color: rgb(48, 228, 102);
    text-align: center;
    padding: 1%;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.curso {
    width: 30%;
    height: 450px;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #fff;
    border-radius: 10px;
}

.curso h3 {
    color: rgb(48, 228, 102);
    font-size: 22px;
    text-align: center;
    margin: 2%;
}

.curso p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 2%;
    line-height: 25px;
    font-weight: 600;
}


/* PROJETOS */

.detalhes-projeto {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.767);
}

.coluna-projetos h1 {
    color: rgb(48, 228, 102);
    font-size: 30px;
    text-align: center;
    padding: 1%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.coluna-projetos h2 {
    display: flex;
    color: rgb(48, 228, 102);
    font-size: 28px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 250px;
}

.coluna-projetos p {
    display: flex;
    align-items: center;
    width: 30%;
    color: white;
    font-size: 20px;
    text-align: justify;
    line-height: 28px;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
}

.imagem-projeto {
    display: flex;
    margin: auto;
    width: 320px;
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
}

.nutrifacil {
    background-image: url('../img/Nutrifacil.png');
}

.ria-webpage {
    background-image: url('../img/ria-site2.png');
}

.estoque-fios {
    background-image: url('../img/estoque-fios.png');
}

.freeway {
    background-image: url('../img/freeway-jp.png');
}

.sem-borda {
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    padding: 2%;
}

.contato h2 {
    padding: 1.0%;
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 1200;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contato-item {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-right: 2%;
}

.nav-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

.nav-footer li {
    display: inline;
    margin: auto;
    align-items: center;
}

.img-footer {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 1%;
    padding-left: 5px;
    width: 35px;
}

footer {
    padding: 1.5%;
    font-size: 18px;
    color: #2f2f2f;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(80, 207, 129);
}