body {
    background-color: rgba(29, 45, 83, 0.993);
}


/* CABEÇALHO */

.header-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}

.header-nome a {
    text-decoration: none;
    color: rgb(253, 253, 255);
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ul-nav-header {
    display: flex;
    text-decoration: none;
}

.li-nav-header {
    margin: 5%;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 3%;
}

.li-nav-header a {
    text-decoration: none;
    color: aliceblue;
}

.link {
    color: black;
    padding: 0 0 0.3em 0;
    position: relative;
}

.li-nav-header:hover {
    color: rgb(48, 228, 102);
    border-color: rgba(185, 219, 195, 0.726);
}

.link:hover,
.header-nome-link:hover {
    color: rgb(48, 228, 102);
    font-weight: 700;
}


/* MAIN */

.sobre-mim {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 2em 2em;
}